@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Quicksand:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #333;
    width: 100vw;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100vh;
    font-family: Quicksand, sans-serif;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 1.2rem;
    width: 100vw;
    box-shadow: 0 2px 1px rgb(24 22 22 / 10%);
}

h2 span {
    color: #3498db;
}

nav {
    display: flex;
}

nav a {
    color: #333;
    text-decoration: none;
    margin-right: 20px;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s;
    cursor: pointer;
}

nav a:hover {
    color: #3498db;
}

nav a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #3498db;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
}

nav a:hover::after {
    transform: scaleX(1);
}

nav :nth-child(2) {
    position: relative;
}

nav :nth-child(2) span {
    position: absolute;
    top: -6px;
    right: -14px;
    font-size: 13px;
    background-color: #3498db;
    color: #fcf8f8;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

main {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

section:nth-child(1) {
    padding: 2rem 4rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

button {
    cursor: pointer;
}

.addBtn {
    width: fit-content;
    padding: 0.5rem 1rem;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.addBtn:hover {
    background-color: #2980b9;
}

form div,
h1 {
    margin-bottom: 0.5rem;
}
label {
    color: #2980b9;
}
#addTask form input:nth-of-type(1),
#addTask form input[type="time"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: .2rem 0;
    font-size: 14px;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}

#addTask form input:nth-of-type(1):focus,
#addTask form input[type="time"]:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 2px 8px rgb(52 152 219 / 30%);
}

.tasksList {
    padding: 0.5rem 1rem;
    background-color: #f2f2f2;
    color: #3498db;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%);
}

.tasksList:nth-child(odd) {
    background-color: #3498db;
    color: #f2f2f2;
}

.task-time-cont {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    gap: 0.5rem;
}

.task-time-cont .editInput {
    outline: none;
    border-radius: 3px;
    border: none;
    padding: 0 0 0 0.1rem;
}

.notif-pop {
    position: absolute;
    top: 30px;
    z-index: 1;
    width: 15rem;
    text-rendering: optimizespeed;
    background-color: #3498db;
    margin: 1rem auto;
    padding: 0.5rem;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: #f2f2f2;
    animation: slideIn linear infinite 7s;
    cursor: pointer;
    display: none;
}

@keyframes blink {
    0%,
    100% {
        border: 3px solid #e74c3c;
    }

    50% {
        border: 3px solid transparent;
    }
}

.focused {
    animation: blink 1s infinite;
}

@keyframes slideIn {
    0% {
        transform: translateX(350px);
    }

    100% {
        transform: translateX(-200px);
    }
}

.clear-all {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.clear-all:hover {
    background-color: #c0392b;
}

.editBtn,
.deleteBtn {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.tasksList:nth-child(odd) .editBtn {
    background-color: #f2f2f2;
    color: #3498db;
}

.tasksList:nth-child(odd) .editBtn:hover {
    background-color: #2980b9;
    color: #f2f2f2;
}

.tasksList:nth-child(even) .editBtn {
    background-color: #3498db;
    color: #f2f2f2;
}

.tasksList:nth-child(even) .editBtn:hover {
    background-color: #2980b9;
}

.deleteBtn {
    background-color: #e74c3c;
    color: white;
    margin-left: 8px;
}

.deleteBtn:hover {
    background-color: #2980b9;
}

#contact {
    text-align: center;
}

.socials {
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.socials span {
    font-size: 24px;
    color: #3498db;
    cursor: pointer;
    transition: color 0.3s;
}

.socials span:hover {
    color: #e74c3c;
}

.socials span::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #3498db;
    transition: width 0.3s;
}

.socials span:hover::after {
    width: 100%;
}


@media screen and (width > 768px) {
    header {
        flex-direction: row;
        gap: 1.2rem;
    }
}
